<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="serilog:using" value="Serilog.Sinks.Elasticsearch"/>
    <add key="serilog:write-to:Elasticsearch.nodeUris" value="http://172.31.211.17:9200/"/>
    <add key="serilog:write-to:Elasticsearch.indexFormat" value="chuck-serilog-index-{0:yyyy.MM.dd}"/>
    <add key="serilog:minimum-level" value="Error" />
    <!--<add key="serilog:write-to:Elasticsearch.failureSink" value="My.Namespace.MyFailureSink, My.Assembly.Name" />-->
  </appSettings>
</configuration>